main
analyzer
server
client
admin_client

*.o
*.out

uploads/*
!uploads/.gitkeep

reports/*
!reports/.gitkeep

logs/*
!logs/.gitkeep

downloads/*
!downloads/.gitkeep

downloads_py/*
!downloads_py/.gitkeep
*.aux
*.log
*.out
*.toc
*.synctex.gz
