# Configuratie aplicatie

project_name = "PCD T17 Semantic Analyzer";

# Argumente pentru libclang (mai stricte)
clang_args = (
  "-std=c11",
  "-Wall",
  "-Wextra",
  "-pedantic"
);

show_diagnostics = true;